/* You can add global styles to this file, and also import other style files */
nav.navbar-breadcrumbs {
  background-color:#e4ecf1;
}

div.jumbotron {
  background-color:#e4ecf1;
}

img.table-icon {
  height: 25px;
  width: 25px
}

img.file-component-icon {
  height: 15px;
  width: 15px
}

img.file-component-image-preview {
  height: 400px;
  width: 400px;
}

img.file-component-application-preview {
  height: 100px;
  width: 100px;
}

span.badge-autotags {
  text-shadow: 0px 0px 4px #fff;
}

textarea.file-component-metadata {
  width:300px;
}
