
<div class="modal-header">
    <h5 class="modal-title pull-left">File Details</h5>
</div>
<div class="modal-body">
    <div class="container">

        <ng-container [ngSwitch]="file.kind">

            <div *ngSwitchCase="fileKind.Image" class="row mb-4">
                <div class="col-12 text-center">
                    <img [attr.src]="getPreviewPath()" class="file-component-image-preview img-thumbnail" alt="Preview">
                </div>
            </div>

            <div *ngSwitchCase="fileKind.Application" class="row mb-4">
                <div class="col-12 text-center">
                    <img src="assets/images/icons/file.svg" class="file-component-file-preview img-thumbnail" alt="Preview">
                </div>
            </div>

            <div *ngSwitchCase="fileKind.Video" class="row mb-4">
                <div class="col-12 text-center">
                    <video width="400" height="400" controls>
                        <source [attr.src]="getDownloadPath()" type="{{file.mimeType}}">
                        Your browser does not support the HTML5 video element.
                    </video>
                </div>
            </div>

            <div *ngSwitchCase="fileKind.Audio" class="row mb-4">
                <div class="col-12 text-center">
                    <audio controls>
                        <source [attr.src]="getDownloadPath()" type="{{file.mimeType}}">
                        Your browser does not support the HTML5 audio element.
                    </audio>
                </div>
            </div>
        </ng-container>

        <div class="row">
            <div class="col-4 text-right"><b>Name:</b></div>
            <div class="col-8 text-left">
                <a [attr.href]="getDownloadPath()" download>{{file.name}}</a>
                <a [attr.href]="getDownloadPath()" download class="ml-2">
                    <img src="assets/images/icons/cloud-download.svg" class="img-fluid file-component-icon" alt="Download">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-4 text-right"><b>Last Modified:</b></div>
            <div class="col-8 text-left">{{file.modTime ? (file.modTime | niceDate) : '&mdash;'}}</div>
        </div>
        <div class="row">
            <div class="col-4 text-right"><b>Size:</b></div>
            <div class="col-8 text-left">{{file.size ? (file.size | filesize) : '&mdash;'}}</div>
        </div>
        <div class="row">
            <div class="col-4 text-right"><b>MIME type:</b></div>
            <div class="col-8 text-left">
                {{file.mimeType ? file.mimeType : '&mdash;'}}
            </div>
        </div>

        <hr class="my-1">

        <ng-container *ngIf="file.kind === fileKind.Image">
            <div class="row">
                <div class="col-4 text-right"><b>Dimensions:</b></div>
                <div class="col-8 text-left">{{file.imageInfo.width}} x {{file.imageInfo.height}} pixels</div>
            </div>
            <div class="row">
                <div class="col-4 text-right"><b>Created:</b></div>
                <div class="col-8 text-left">{{file.imageInfo.created ? (file.imageInfo.created | niceDate) : '&mdash;'}}</div>
            </div>
            <div class="row">
                <div class="col-4 text-right"><b>Location:</b></div>
                <div class="col-8 text-left">
                    <a *ngIf="file.imageInfo.location" target="_blank" [attr.href]="'https://www.google.com/maps?q=' + file.imageInfo.location.lat + ',' + file.imageInfo.location.long">
                        lat: {{file.imageInfo.location.lat}}, long: {{file.imageInfo.location.long}}
                    </a>
                    <ng-container *ngIf="!file.imageInfo.location">
                        &mdash;
                    </ng-container>
                </div>
            </div>
            <div class="row">
                <div class="col-4 text-right"><b>Average Colour:</b></div>
                <div class="col-8 text-left">
                    <span *ngIf="file.imageInfo.autotags" [style.background-color]="file.imageInfo.autotags.color" class="badge badge-pill badge-autotags">{{file.imageInfo.autotags.color}}</span>
                    <ng-container *ngIf="!file.imageInfo.autotags">
                        &mdash;
                    </ng-container>
                </div>
            </div>
            <div class="row">
                <div class="col-4 text-right"><b>Autotags:</b></div>
                <div class="col-8 text-left">
                    <ng-container *ngIf="file.imageInfo.autotags">
                        <span *ngFor="let tag of file.imageInfo.autotags.tags; index as i" class="badge badge-pill badge-info">
                            {{tag}}
                        </span>
                    </ng-container>
                    <ng-container *ngIf="!file.imageInfo.autotags">
                        &mdash;
                    </ng-container>
                </div>
            </div>
        </ng-container>


        <ng-container *ngIf="file.metadata">

            <hr class="my-1">

            <div *ngFor="let metadataField of file.metadataFields; index as metadataFieldIndex" class="row">
                <div class="col-4 text-right"><b>{{metadataField}}:</b></div>
                <div class="col-8 text-left">
                    <ng-container *ngIf="editMetadataField !== metadataField">
                        <a (click)="onClickMetadataField(metadataField)">
                            {{file.metadata[metadataField] ? file.metadata[metadataField] : '&mdash;'}}
                        </a>
                        <a href (click)="onClickMetadataField(metadataField)">
                            <img src="assets/images/icons/pencil.svg" class="img-fluid file-component-icon" alt="Edit Description">
                        </a>
                    </ng-container>
                    <form *ngIf="editMetadataField === metadataField" [formGroup]="metadataForms[metadataFieldIndex]">
                        <textarea formControlName="input" rows="1" class="file-component-metadata"></textarea>
                        <a href (click)="onClickSaveMetadataField(metadataField, metadataForms[metadataFieldIndex])">
                            <img src="assets/images/icons/check.svg" class="img-fluid file-component-icon" alt="Save Changes">
                        </a>
                        <a href (click)="onClickDismissMetadataField(metadataField, metadataForms[metadataFieldIndex])">
                            <img src="assets/images/icons/x.svg" class="img-fluid file-component-icon" alt="Dismiss Changes">
                        </a>
                    </form>
                </div>
            </div>

            <div *ngFor="let metadataArrayField of file.metadataArrayFields; index as metadataArrayFieldIndex" class="row">
                <div class="col-4 text-right"><b>{{metadataArrayField}}:</b></div>
                <div class="col-8 text-left">
                    <ng-container *ngIf="editMetadataField !== metadataArrayField">
                        <span *ngFor="let tag of file.metadata[metadataArrayField]; index as i" class="badge badge-pill badge-info">
                            {{tag}}
                            <a (click)="onClickRemoveFromMetadataField(metadataArrayField, i)" href>
                                <img src="assets/images/icons/x.svg" class="img-fluid file-component-icon" alt="Remove Tag">
                            </a>
                        </span>
                        <ng-container *ngIf="file.metadata[metadataArrayField] === 0">
                            &mdash;
                        </ng-container>
                        <a class="ml-1" href (click)="onClickMetadataField(metadataArrayField)">
                            <img src="assets/images/icons/pencil.svg" class="img-fluid file-component-icon" alt="Edit Custom Tags">
                        </a>
                    </ng-container>
                    <form *ngIf="editMetadataField === metadataArrayField" [formGroup]="metadataArrayForms[metadataArrayFieldIndex]">
                        <textarea formControlName="input" rows="1" class="file-component-metadata"></textarea>
                        <a href (click)="onClickSaveMetadataArrayField(metadataArrayField, metadataArrayForms[metadataArrayFieldIndex])">
                            <img src="assets/images/icons/check.svg" class="img-fluid file-component-icon" alt="Save Changes">
                        </a>
                        <a href (click)="onClickDismissMetadataArrayField(metadataArrayField, metadataArrayForms[metadataArrayFieldIndex])">
                            <img src="assets/images/icons/x.svg" class="img-fluid file-component-icon" alt="Dismiss Changes">
                        </a>
                    </form>
                </div>
            </div>
        </ng-container>
    </div>
</div>
