<div class="container">

    <app-breadcrumbs [query]="query"></app-breadcrumbs>

    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Last Modified</th>
                <th scope="col">Size</th>
                <th scope="col" class="text-right">Download</th>
            </tr>
        </thead>
        <tbody>
            <ng-template #noCellContent>
                <td>&mdash;</td>
            </ng-template>
            <tr *ngFor="let file of files; index as i">
                <td scope="row">
                    <ng-container [ngSwitch]="file.kind">
                        <img *ngSwitchCase="fileKind.Image" [attr.src]="getThumbnailPath(file)" class="img-fluid table-icon" alt="{{file.kind}}">
                        <img *ngSwitchCase="fileKind.Video" src="assets/images/icons/play.svg" class="img-fluid table-icon" alt="{{file.kind}}">
                        <img *ngSwitchCase="fileKind.Audio" src="assets/images/icons/unmute.svg" class="img-fluid table-icon" alt="{{file.kind}}">
                        <img *ngSwitchCase="fileKind.Application" src="assets/images/icons/file.svg" class="img-fluid table-icon" alt="{{file.kind}}">
                        <img *ngSwitchDefault src="assets/images/icons/question.svg" class="img-fluid table-icon" alt="{{file.kind}}">
                    </ng-container>

                    <ng-template #tooltipTemplate>
                        <img [attr.src]="getThumbnailPath(file)" class="img-thumbnail" alt="Thumbnail">
                    </ng-template>

                    <a href (click)="openFileModal(file)" class="ml-2">{{file.name}}</a>
                </td>
                <td *ngIf="file.modTime; else noCellContent" scope="row">{{file.modTime | niceDate}}</td>
                <td *ngIf="file.size; else noCellContent">{{file.size | filesize}}</td>
                <td class="text-right">
                    <a [attr.href]="getFileDownloadPath(file)" download>
                        <img src="assets/images/icons/cloud-download.svg" class="img-fluid table-icon" alt="Download">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

</div>

