<div class="jumbotron jumbotron-fluid pb-1 pt-3">
    <div class="container">
      <h1 class="display-4">Fargo Frontend Client</h1>
      <p class="lead">An Angular-powered frontend client for the HTTP file server, Fargo.</p>
      <hr class="my-3">
      <p>Adam Foulston | <a href="mailto:39thronin@gmail.com">39thronin@gmail.com</a></p>
    </div>
</div>

<router-outlet></router-outlet>
