<nav aria-label="breadcrumb" class="navbar my-2 py-0 navbar-breadcrumbs">
    <ol class="breadcrumb my-0">
        <li class="breadcrumb-item">
            <a href [routerLink]="['/']">Home</a>
        </li>
        <li *ngIf="query" class="breadcrumb-item" aria-current="page">
            <a href [routerLink]="['/search/' + query]">Search Results for "{{query}}"</a>
        </li>
        <ng-container *ngFor="let crumb of breadcrumbs; index as i">
            <li *ngIf="isLastBreadcrumb(i)" class="breadcrumb-item" aria-current="page">
                <a href [routerLink]="['/directory', getBreadcrumbPath(i)]">{{crumb}}</a>
            </li>
            <li *ngIf="!isLastBreadcrumb(i)" class="breadcrumb-item" >
                <a href [routerLink]="['/directory', getBreadcrumbPath(i)]">{{crumb}}</a>
            </li>
        </ng-container>
    </ol>
    <form class="form-inline input-group-sm" [formGroup]="searchForm" (submit)="onSubmitSearchForm()">
        <input formControlName="search" class="form-control my-0 py-0" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-0 py-0" type="submit">Search</button>
    </form>
</nav>
